.App {
    padding: 20px;
    text-align: center;
}

.movie {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 7px;
    margin-bottom: 10px;
}

.movie .movieImage {
    height: 100px;
    width: auto;
    border: 2px solid gray;
    border-radius: 5px;
}

.movie .movieYear {
    font-size: 0.625rem;
    color: red;
}

.movie .movieTitle {
    flex-grow: 1;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    display: flex;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.movie .movieTitle:hover {
    background-color: pink;
}

.movie .movieGenres {
    font-size : 0.5rem;
    color: gray;
}
