.App {
    padding: 20px;
}

.movie {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    
}

.movie .movieImage {
    width: 200px;
    border: 2px solid gray;
    border-radius: 5px;
}

.movie .movieTitle {
    flex-grow: 1;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-size: 30px;
}

.movie .movieTitle:hover {
    background-color: pink;
}

.movie .movieYear {
    font-size: 0.5rem;
    color: red;
}
